/* Will import grotesque font */

/* ===== Base Styles ===== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

body {
  font-family: "Familjen Grotesk", sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

/* ===== Header ===== */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
}

/* ===== Logo ===== */
.logo {
  width: 210px;
  height: auto;
}

.logo img {
  width: 100%;
  display: block;
  height: auto;
}

/* ===== Desktop Menu ===== */

.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* ===== Menu item border bottom ===== */

.desktop-main-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: 0.6s ease-in;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
}

/* ===== Background images ===== */

.section-a {
  background-image: url("../img/section-a.webp");
}
.section-b {
  background-image: url("../img/section-b.webp");
}
.section-c {
  background-image: url("../img/section-c.webp");
}
.section-d {
  background-image: url("../img/section-d.webp");
}
.section-e {
  background-image: url("../img/section-e.webp");
}
.section-f {
  background-image: url("../img/section-f.webp");
}

/*  */

.section-inner {
  position: absolute;
  top: 50%;
  left: 10%;
  max-width: 560px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 700;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both; /* Stop from showing at start */
}

.section-inner a {
  animation: fadeInUp 0.5s 0.4s;
  animation-fill-mode: both;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
}

.btn:hover span {
  color: #000;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: 0.6s ease-in;
}

.btn:hover .hover {
  transform: translateY(0);
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  margin: auto;
  animation: fadeBounce 5s infinite;
}

/* footer */

footer {
  position: relative;
  padding: 55px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

footer ul:first-child {
  color: #aaa;
}

footer ul li {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2.5;
}

footer ul li a {
  color: #fff;
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
}
/* =====Animations===== */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}
